<table>
  <thead>
    <tr>
      <th>Search Query</th>
      <th>Total Searches</th>
    </tr>
  </thead>

  <tbody>
    <% @search_queries..each do |query| %>
      <tr>
        <td><%= link_to "#{query.terms}", search_query_path(query) %></td>
        <td><%= SearchQuery.where(terms: query.terms).count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
